@using TV.Core.Users;
@using TV.Core.Context;
@using TV.Core.UserManagement;
@using TV.Tiskarna;
@using TV.TiskarnaVosahlo;

<div>
    <p>Home</p>
    <p>@UserContext.Context.User.Username</p>
</div>

